@import "globals.less";

.body {
  margin: 0;
  
  .header-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .content-container {
    margin-top: @top-bar-height;
    min-height: 100vh;

    .credentials-page {    
      .credentials-content {
        .content {
          padding: 100px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:nth-child(odd) {
            background-color: @light-grey;
          }
          &:nth-child(even) {
            background-color: white;
          }
          .title {
            .med-font();
            color: @main-color;
            font-weight: 700;
            margin-bottom: 30px;
          }
          .text {
            .small-font();
            max-width: 950px;
            text-align: justify;
          }
          &:nth-child(odd) {
            background-color: @light-grey;
          }
          &:nth-child(even) {
            background-color: white;
          }
        }
        .memberships-list {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;

          .membership {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            background-color: white;
            border-radius: 3px;
            box-sizing: border-box;
            padding: 30px 15px;
            margin: 10px;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: transform 0.2s;

            .logo {
              width: 300px;
              height: 100px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;
              &.acfas {
               background-image: url("assets/acfas_logo.jpg");
              }
              &.apma {
                background-image: url("assets/american_podiatric_medical_association.png")
              }
              &.bcpma {
                background-image: url("assets/bc_podiatric_medical_association.png");
              }
              &.cpma {
                background-image: url("assets/canadian_podiatric_medical_association.png");
              }
              &.cpsbc {
                background-image: url("assets/college_physicians_surgeons_bc.png");
              }
            }
            &:hover {
              transform: translateY(-15px);
            }
          }  
        }
        .qualifications {
          .qualifications-list {
            .small-font();
          }
        }
      }
    }
  }
}

@media all and (orientation: portrait), (max-width: 1350px) {
  .body {
    .header-container {
      height: 100%;
      width: initial;
    }
    .content-container {
      .home-page {
        .title-container {
          .title-text {
            width: 95%;
            padding: 75px 0;
          }
        }
        .home-content {
          .services {
            .services-list {
              .service {
                width: 35vw;
              }
            }
          }
          .content {
            .button {
              .med-font();
              width: 60%;
            }
          }
        }
      }
    }
  }
}